/* Global styles for all views */
/* ... */

/* Styles for mobile devices (up to a certain screen width) */
@media screen and (min-width: 790px) {
    .split-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 7%;
        margin-top: 4rem;
        
        
      }
      
      .left-side {
        flex: 1;
        padding: 0 22px;
        margin-top: 0rem;
        font-size: 34px;
        font-weight: 600;
        text-align: left;
        margin: 0;
        top: 50%;
      }
      
      .right-side {
        flex: 1;
        text-align: end;
        margin: 0;
        top: 50%;
      }
      
      
      
      /* Additional styling as needed */
    } 
